.DS_Store
dist/
node_modules/
coverage/
.env
tags
.docusaurus/
.cache-loader/
cenv.build.log
*.js
!webpack.config.js
!babel.config.js
*.js.map
/packages/lib/.version.json
/packages/cli/tsconfig.tsbuildinfo
packages/cli/logs
/basic/
.idea
cdk.out
env.cdk.out
.cenv.*-*.config
cdk.context.json
example/packages/spa/build/**/*
tmp